{% extends "base.html" %}
{% block head %}
<script src="{{static_url('js/echarts.min.js')}}" charset="UTF-8"></script>
<script>
function account_chart(obj){
   var s = obj.value;
   $.ajax({
      url:"/panel/account",
      type: "POST",
      dataType:"json",
      data: {"query":s},
      beforeSend:beforeSend,
      complete:complete,
      error:error,
      success:function(response){
         if(response){
            var ss="";
            for(var coin in response){
               ss+="<div id='account_value_"+coin+"' style='min-width: 300px; height: 250px; margin: 0 auto'></div>";
            }
            document.getElementById('stat').innerHTML = ss;
            for(var coin in response){
                var dom = document.getElementById("account_value_"+coin);
                var myChart = echarts.init(dom);
                var option = account_value(response[coin],coin);
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                    // window.onresize = function () {
                    //     //重置容器高宽
                    //     dom_size();
                    //     myChart.resize();
                    // };
                }
            }
            
         }else{
               document.getElementById('stat').innerHTML = "no data";
         };
      },
    });

}
</script>
{% end %}
{% block body %}

<select id="account" class="form-control" onchange="account_chart(this)">
   <option>choose an account</option>
   {% for item in ac_list%}
      <option value = "{{item}}">{{item}}</option>
   {%end%}
</select>
<div id="loading" class='table-responsive' style='margin-top: 10px'>
   <div id="showResult"></div>
</div>
<span id=stat></span>
{%end%}