<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard">Strategies</a></li>
        <li><a href="/dashboard/task_sheet/all">Tasks</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/strategy/new">New Strategy</a></li>
        <li><a href="#">Log</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">change password</a></li>
        <li><a href="/ding?method=all">dingding</a></li>
        <li><a href="#">logout</a></li>
    </ul>
</div>

<!-- 左侧导航栏 -->
<!-- <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-stacked nav-pills">
        <li class="active">
        <a href="/dashboard">Strategies</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                导航链接4<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="nav1.html" target="mainFrame">导航链接4-1</a>
                </li>
            </ul>
        </li>
    </ul>
</div> -->