{% extends "base.html" %}
{% block head %}
<script src="{{static_url('js/highcharts.js')}}"></script>
<script>
$(document).ready(
   function(){
   var s = String("{{title}}");
   $.ajax({
      url:"/chart/"+s.split(" ")[0],
      type: "POST",
      dataType:"json",
      data: null,
      beforeSend:beforeSend,
      complete:complete,
      error:error,
      success:function(response){
         if(response){
            var ss = "";
            for(var ins in response){
               var item = response[ins];
               ss+="<ul>"+ins+"<li>trade_count: "+item["trade_count"]+"</li>"+"<li>profit_loss: "+item["profit_loss"]+"</li>"+"<li>fee: "+item["fee"]+"</li>"+"<li>position_profit: "+item["position_profit"]+"</li>"+"<li>net_profit: "+item["net_profit"]+"</li>"+"<li>holding: long: "+item["holding_long"]+"  short: "+item["holding_short"]+"</li>";
               if(item["missing_open"]!=""){
                  ss+="<li>missing_open:</li>";
                  for(var mo in item["missing_open"]){
                     ss+="<li>"+item["missing_open"][mo]+"</li>";
                  };
               };
               ss+="</ul><div id="+ins+" style='min-width: 310px; height: 400px; margin: 0 auto'></div>";
            };
            if(ss==""){ss="no trades"};
            document.getElementById('stat').innerHTML = ss;

            for(var ins in response){
               render(ins,response[ins]["pnl"]);
            };
         }else{
               document.getElementById('stat').innerHTML = "no trades";
         };
      },
    });

});
</script>
{% end %}
{% block body %}
<div id="showResult"></div>
<span id=stat></span>
{%end%}