{% extends "base.html" %}
{% block head %}
<script>
    var ws=new WebSocket("ws://45.76.160.187:9999/pos");
    ws.onmessage=function (evt) {
        console.log(evt.data);
        d=JSON.parse(evt.data);
        item=document.getElementById(d._name)
        item.innerHTML=d._val;
    };
</script>
{% end %}
{% block body %} 
<a href="/dashboard/strategy/new" class="btn btn-xs btn-primary">New Strategy</a>
&nbsp;<a href="/dashboard/tasks/instance" class="btn btn-xs btn-primary">Instance</a>
&nbsp;<a href="/dashboard/tasks/archiver" class="btn btn-xs btn-primary">Archiver</a>
{%if show=="all"%}
&nbsp;<a href="/dashboard?display=all" class="btn btn-xs btn-primary">Show All</a>
{%elif show=="mine"%}
&nbsp;<a href="/dashboard" class="btn btn-xs btn-primary">Show Mine</a>
{%end%}
{%if data%}
    <div class="table-responsive" style="margin-top: 10px">
        <table cellpadding="0" cellspacing="0" border="0" class="table-1" id="strategy_list">
            <thead>
                <tr>
                    <th><input type="checkbox" class="checkall" name="checkall"></th>
                    <th id="ss">Name</th>
                    <th id="ss">Server</th>
                    {%if show=="mine"%}
                    <th id="ss">Author</th>
                    {%end%}
                    <th id="ss">Trading symbols at 
                        <div id="time" style="display:inline"></div></th>
                    <th><span class="label label-xs label-default">OPEN</span></th>
                    <th><span class="label label-xs label-success">LONG</span></th>
                    <th><span class="label label-xs label-danger">SHORT</span></th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td data-label="check"><input type="checkbox" value="{{d['name']}}" name="cc"></td>
                    <td data-label="Name"><a href="/dashboard/strategy/{{d['name']}}">{{d["name"]}}</a></td>
                    <td data-label="Server">{{d["server"]}}</td>
                    {%if show=="mine"%}
                    <td data-label="Author">{{d["Author"]}}</td>
                    {%end%}
                    <td data-label="Symbols">
                        {%for sym in d['tradePos']%}
                        <span style="font-size:10px;">{{sym}}</span></div><br>
                        {%end%}
                    </td>
                    <td data-label="Open Orders">{%for sym in d['tradePos']%}
                            <div style="display:inline-table;">
                            <span class="label label-xs label-default" id="open-{{d['alias']}}-{{sym}}">
                            {{d['open_order'][sym]}}</span></div><br>
                            {%end%}</td>
                    <td data-label="Long Position">{%for sym in d['tradePos']%}
                        <div style="display:inline-table;">
                        <span class="label label-xs label-success" id="long-{{d['alias']}}-{{sym}}">
                        {{d['tradePos'][sym][0]}}</span></div>
                        <div style="display:inline-table;">
                            <span class="label label-xs label-success" id="{{d['alias']}}-{{sym}}-long">
                                    {{d['profit_rate'][sym][0]}}</span></div><br>
                        {%end%}</td>
                    <td data-label="Short Position">{%for sym in d['tradePos']%}
                        <div style="display:inline-table;">
                        <span class="label label-xs label-danger" id="short-{{d['alias']}}-{{sym}}">
                            {{d['tradePos'][sym][1]}}</span></div>
                        <div style="display:inline-table;">
                            <span class="label label-xs label-danger" id="{{d['alias']}}-{{sym}}-short">
                                    {{d['profit_rate'][sym][1]}}</span></div><br>
                        {%end%}</td>
                    <td data-label="Profile"><a class="btn btn-xs btn-primary" href="/chart/{{d['name']}}" target="_blank">Chart</a>
                        &nbsp;<a class="btn btn-xs btn-primary" href="http://149.28.78.5:5601/app/kibana#/discover?_g=()&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'0c5c9850-7e27-11e9-95ef-03925e1df000',key:message,negate:!f,params:!({{d['name']}}),type:phrases,value:{{d['name']}}),query:(bool:(minimum_should_match:1,should:!((match_phrase:(message:{{d['name']}}))))))),index:'0c5c9850-7e27-11e9-95ef-03925e1df000',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))" target="_blank">Log</a>
                        &nbsp;<a class="btn btn-xs btn-primary" href="/orders?name={{d['alias']}}" target="_blank">Orders</a>
                    </td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    
    <div class="row">
    {%if show!="mine" or user["group"] =="zeus"%}
        <a href="javascript:;" class="btn btn-xs btn-primary" onclick="create_instance()">Create Instance</a>
    {%else%}
        <a href="javascript:;" class="btn btn-xs btn-primary" disabled="disabled">Create Instance</a>
    {%end%}
    </div>
    
{% else %}
    no data
{% end %}
{% end %}