{% extends "base.html" %}
{% block head %}
<script>
    var ws = new WebSocket("ws://45.76.160.187:9999/pos");
    ws.onmessage = function (evt) {
        console.log(evt.data);
        d = JSON.parse(evt.data);
        item=document.getElementById(d._name)
        item.innerHTML = d._val;
    };
</script>
{% end %}
{% block body %}
<div class="pageContainer">
    <div class="main">
        <h2 class="sub-header">Strategy List</h2>
        <a href="/dashboard/strategy/new" class="btn btn-sm btn-primary">New Strategy</a>
        <a href="/dashboard/task_sheet/all" class="btn btn-sm btn-primary">Tasks</a>
        <!-- <form action="/dashboard/waitlist" method="post" id="form"> -->
        <form action="/dashboard/task_sheet/all" method="post" id="form">
        {%if data%}
            <div class="table-responsive" style="margin-top: 10px">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="strategy_list">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="checkall" name="checkall"></th>
                            <th>Name</th>
                            <th>Server</th>
                            <th>Position</th>
                            <th>Profile</th>
                            <th>Update Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr class="odd gradeX">
                            <td><input type="checkbox" value="{{d['name']}}" name="cc"></td>
                            <td><a href = "/dashboard/strategy/{{d['_id']}}">{{d["name"]}}</a></td>
                            <td class="center">{{d["server"]}}</td>
                            <td>
                                {%for sym in d['tradeSymbolList']%}
                                <div>
                                    <span style="font-size:12px">{{sym}}</span><br>
                                    <span class="label label-success" id="long-{{d['alias']}}"></span>
                                    <span class="label label-danger" id="short-{{d['alias']}}"></span>
                                </div>
                                {%end%}
                            </td>
                            <td><a class="btn btn-sm btn-primary" href = "/chart/{{d['alias']}}">Chart</a>
                                &nbsp;<a class="btn btn-sm btn-primary" href = "http://149.28.78.5:5601/app/kibana#/discover?_g=()&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'0c5c9850-7e27-11e9-95ef-03925e1df000',key:message,negate:!f,params:!({{d['name']}}),type:phrases,value:{{d['name']}}),query:(bool:(minimum_should_match:1,should:!((match_phrase:(message:{{d['name']}}))))))),index:'0c5c9850-7e27-11e9-95ef-03925e1df000',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))" target="_blank">Log</a>
                                &nbsp;<a class="btn btn-sm btn-primary" href = "/orders?name={{d['alias']}}">Orders</a>
                            </td>

                            <td class="center">{{d["updatetime"]}}</td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
            <div class = "row">
                <input type="hidden" value="" id = "hidTD" name = "strategies">
                <input type="button" class="btn btn-sm btn-primary" name = "submit_checkbox" value="Add to Tasks">
            </div>
        {% else %}
            no data
        {% end %}
        </form>
    </div>
</div>

{% end %}