{% extends "base.html" %}
{% block head %}
{% end %}
{% block body %}
<div class="table-responsive" style="margin-top: 10px">
    {% if data%}
    <table cellpadding="0" cellspacing="0" border="0" class="table-1" id="strategy_list">
        <thead>
            <tr>
                <th style="display:none"></th>
                <th>Task ID</th>
                <th>Author</th>
                <th>Status</th>
                <th>Operator</th>
                <th>Strategy List</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td style="display:none">{{d["_id"]}}</td>
                <td><a href="/deploy/assignment/{{d['task_id']}}">{{d["task_id"]}}</a></td>
                <td>{{d["Author"]}}</td>
                <td id = "{{d['_id']}}">{{d["status"]}}</td>
                <td id = "link{{d['_id']}}">
                    {%if d["status"] == 'submitted' %}
                        <a class="btn btn-xs btn-primary" href="javascript:;" onclick = "process_task(this)" name = "processing">P</a>   
                        <a class="btn btn-xs btn-primary" href="javascript:;" onclick = "process_task(this)" name = "rejected">X</a>   
                    {%elif d["status"] == 'assigned' %}
                        <a class="btn btn-xs btn-primary" href="javascript:;" onclick = "process_task(this)" name = "rejected">X</a>
                        <a class="btn btn-xs btn-primary" href="javascript:;" onclick = "process_task(this)" name = "completed">C</a>  
                    {%else%}
                        N/A
                    {%end%}
                </td>
                <td>{{d["strategies"]}}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
    {%else%}

    no jobs
    
    {% end %}
</div>
{% end %}