{% extends "base.html" %}
{% block head %}
{% end %}
{% block body %}
<div class="container-fluid">
    {% include "dp_nav.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">    
        <h2 class="sub-header">DEPLOYMENT</h2>
        <div class="table-responsive" style="margin-top: 10px">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="strategy_list">
                <thead>
                    <tr>
                        <th style="display:none"></th>
                        <th>Task ID</th>
                        <th>Status</th>
                        <th>Operation</th>
                        <th>Strategy List</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr class="odd gradeX">
                        <td style="display:none">{{d["_id"]}}</td>
                        <td><a href="/deploy/assignment/{{d['_id']}}">{{d["task_id"]}}</a></td>
                        <td>{{d["status"]}}</td>
                        <td>
                            {%if d["status"] == 'submitted' %}
                                <a class="btn btn-sm btn-primary" href="javascript:;" onclick = "process_task(this)" name = "processing">P</a>   
                                <a class="btn btn-sm btn-primary" href="javascript:;" onclick = "process_task(this)" name = "rejected">X</a>   
                            {%elif d["status"] == 'assigned' %}
                                <a class="btn btn-sm btn-primary" href="javascript:;" onclick = "process_task(this)" name = "rejected">X</a>
                                <a class="btn btn-sm btn-primary" href="javascript:;" onclick = "process_task(this)" name = "completed">C</a>  
                            {%else%}
                                N/A
                            {%end%}
                        </td>
                        <td>{{d["strategies"]}}</td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}