<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/deploy/list/all">Deployment</a></li>
        <li><a href="/deploy/list/todo">To Do</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/deploy/server">Server</a></li>
        <li><a href="/deploy/account">Account</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/deploy/user">Users</a></li>
        <li><a href="#">logout</a></li>
    </ul>
</div>


<!-- 左侧导航栏 -->
<!-- <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-stacked nav-pills">
        <li class="active">
        <a href="/dashboard">Strategies</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                导航链接4<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="nav1.html" target="mainFrame">导航链接4-1</a>
                </li>
            </ul>
        </li>
    </ul>
</div> 
{% include "dp_nav.html" %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->