{% extends "base.html" %}
{% block head %}
<link href="/static/css/signin.css" rel="stylesheet">
{% end %}
{% block body %}

<form class="form-signin" action="/" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    
    {% if msg %}
      <br>
      <div class="alert alert-danger" role="alert">
        <strong>{{msg}}</strong>
      </div>
    {% end %}

    <label for="name" class="sr-only">Username</label>
    <input type="text" name="name" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="pwd" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
{% end %}