{% extends "base.html" %}
{% block head %}
<title>{{ title }}</title>
{% end %}
{% block body %}
<div style="margin-top: 10px">
    {%if data%}
    instruction: <br>
    type {1:open long, 2:open short, 3:close long, 4:close short}<br>

    <div class="table-responsive" style="margin-top: 10px">
        <table cellpadding="0" cellspacing="0" border="0" class="table-1">
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Symbol</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>Ordered Price</th>
                    <th>Ordered Volume</th>
                    <th>Client_OID</th>
                    <th>Order ID</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td data-label="Datetime">{{d["datetime"]}}</td>
                    <td data-label="Symbol">{{d["instrument_id"]}}</td>
                    <td data-label="Type">{{d["type"]}}</td>
                    <td data-label="Price">{{d["price_avg"]}}</td>
                    <td data-label="Volume">{{d["filled_qty"]}}</td>
                    <td data-label="Ordered Price">{{d["price"]}}</td>
                    <td data-label="Ordered Vol">{{d["size"]}}</td>
                    <td data-label="Client_OID">{{d["client_oid"]}}</td>
                    <td data-label="Order ID">{{d["order_id"]}}</td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    {%else%}
    {%if enquiry%}

    <form  class="stdform stdform2" action="/orders" method="post"  class="form-signin">
    <p>
        <label>account</label>
        <span class="field">
            <input type="text" class="form-control" name="ac_name">
        </span><!--field-->
    </p>
    <p>
        <label>symbol</label>
        <span class="field">
            <input type="text" class="form-control" name="symbol">
        </span><!--field-->
    </p>
    <p>
        <label>status</label>
        <span class="field">
            <select name="state" class="form-control">
                <option value="">(omit if query specific order)</option>
                <option value="6">未完成单</option>
                <option value="2">成交单</option>
                <option value="-2">拒单</option>
                <option value="-1">撤销单</option>
            </select>
        </span><!--field-->
    </p>
    <p>
        <label>oid | id</label>
        <span class="field">
                <input type="text" class="form-control" name="oid" placeholder="(omit if query by order status)">
        </span><!--field-->
    </p>
    <button type="submit" class="btn btn-sm btn-primary">Look Up</button>
    </form>
    {% else %}
    no data
    {% end %}
    <br>
    <button type="button" class="btn btn-md btn-info" onclick="GoBackward()">Go Back</button>
    {% end %}
    

</div>
{% end %}