{% extends "base.html" %}
{% block head %}
<title>{{ title }} Performance</title>
<link href="{{static_url("css/input.css")}}" rel="stylesheet">
<script type="text/javascript">
   function GoBackward(){
   window.history.back();
   }
   </script>
{% end %}
{% block body %}
   {%if not items%}
   <form action="/strategy_performance" method="post" class="form-signin">
      <h3 class="form-signin-heading">Query Strategy Performance</h3>
      <label for="inputstrategy" class="sr-only">strategy name</label>
      <input type="text" name="strategy_name" class="form-control" placeholder="strategy name" required autofocus>
   <button type="submit" class="btn btn-sm btn-primary btn-block">Look Up</button><br>
   </form>
   {%else%}
      <ul>
      {% for strategy, item in items.items() %}
         <br>
         {{item["symbol"]}}
         <li>trade_count: {{item["trade_count"] }}</li>
         <li>profit_loss: {{item["profit_loss"] }}</li>
         <li>fee: {{item["fee"] }}</li>
         <li>position_profit: {{item["position_profit"] }}</li>
         <li>net_profit: {{item["net_profit"] }}</li>
         <li>holding: long: {{item["holding_long"] }} short: {{item["holding_short"] }}</li>
         {%if item["missing_open"]%}
            <li>missing_open:{{item["missing_open"] }}</li>
         {%end%}
      
      </ul>
      <img src = {{static_url(f"image/{item['img']}")}} class="img-responsive">
      {% end %}
      <button type="button" class="btn btn-sm btn-primary" onclick="GoBackward()">Go Back</button>
   {% end %}
{%end%}