{% extends "base.html" %}
{% block head %}
<title>{{ title }}</title>
<link href="{{static_url('css/table.css')}}" rel="stylesheet">

{% end %}
{% block body %}
<div class="container-fluid">
    <div class="main">
            <div style="margin-top: 10px">
    {%if item%}
    <h2 class="sub-header">Orders</h2>

    <div class="table-responsive" style="margin-top: 10px">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>datetime</th>
                    <th>symbol</th>
                    <th>type</th>
                    <th>price</th>
                    <th>volume</th>
                    <th>ordered price</th>
                    <th>ordered Vol</th>
                    <th>status</th>
                    <th>client_oid</th>
                    <th>order id</th>
                </tr>
            </thead>
            <tbody>
                {% for d in item %}
                <tr class="odd gradeX">
                    <td>{{d["timestamp"]}}</td>
                    <td>{{d["instrument_id"]}}</td>
                    <td>{{d["type"]}}</td>
                    <td>{{d["price_avg"]}}</td>
                    <td>{{d["filled_qty"]}}</td>
                    <td>{{d["price"]}}</td>
                    <td>{{d["size"]}}</td>
                    <td>{{d["state"]}}</td>
                    <td>{{d["client_oid"]}}</td>
                    <td>{{d["order_id"]}}</td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    {%else%}

    <form  class="stdform stdform2" action="/query_order" method="post"  class="form-signin">
    <h2 class="form-signin-heading">Query Orders</h2>
    account  : OKEX_<input type="text" class="form-control" name="ac_name"><br><br>
    symbol   : <input type="text" class="form-control" name="symbol"><br><br>
    status    : <select name="state" class="form-select-combine">
                <option>(omit if query specific order)</option>
                <option value="6">未完成单</option>
                <option value="2">成交单</option>
                <option value="-2">拒单</option>
                <option value="-1">撤销单</option>
                </select><br><br>
    oid | id : <input type="text" class="form-control" name="oid" placeholder="(omit if query by order status)"><br><br>
    <button type="submit" class="btn btn-sm btn-primary">Look Up</button>
    </form>

    {% end %}
    </div></div>
</div>
{% end %}