{% extends "base.html" %}
{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{{static_url("css/dashboard.css")}}" rel="stylesheet">
<link href="{{static_url("css/table.css")}}" rel="stylesheet">

{% end %}
{% block body %}
<div class="container-fluid">
    {% include "admin_nav.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div style="margin-top: 10px">
            <form class="stdform stdform2" action="/dashboard/strategy/save" method="post">
                
                <p>
                    <label>Git Path</label>
                    <span class="field">
                        {% if data %}
                            <input type="text" name="git_path" class="form-control" value="{{data['git_path']}}" required autofocus>
                        {% else %}
                            <input type="text" name="git_path" class="form-control" placeholder="Git Path" required autofocus>
                        {% end %}
                    </span><!--field-->
                </p>
                <p>
                    <label>Strategy Name</label>
                        <span class="field">
                        {% if data %}
                            <input type="text" name="name" class="form-control" value="{{data['name']}}" required>
                        {% else %}
                            <input type="text" name="name" class="form-control" placeholder="Strategy Name (Max Length = 13)" required>
                        {% end %}
                        </span><!--field-->
                </p>
                <p>
                    <label>Class Name</label>
                        <span class="field">
                        {% if data %}
                            <input type="text" name="strategy_class_name" class="form-control" value="{{data['strategy_class_name']}}" required>
                        {% else %}
                            <input type="text" name="strategy_class_name" class="form-control" placeholder="Strategy Class Name" required>
                        {% end %}
                        </span><!--field-->
                </p>
                <p>
                    <label>Trade Symbol</label>
                    <span class="field">
                        {% if data %}
                            <input type="text" name="trade_symbols" class="form-control" value="{{data['trade_symbols']}}" required>
                        {% else %}
                            <input type="text" name="trade_symbols" class="form-control" placeholder="Trade Symbols" required>
                        {% end %}
                        <select name="account_name" class="form-control" required>
                            <option value = "">Choose an Account</option>
                            {% for item in account%}
                                {% if data and item == data["account_name"]%}
                                    <option value = "{{item}}" selected="selected">{{item}}</option>
                                {%else%}
                                    <option value = "{{item}}">{{item}}</option>
                                {%end%}
                            {% end %}
                        </select>
                    </span>
                </p>
                <p>
                    <label>Assist Symbol</label>
                    <span class="field">
                        {% if data %}
                            <input type="text" name="assist_symbols" class="form-control" value="{{data['assist_symbols']}}">
                        {% else %}
                            <input type="text" name="assist_symbols" class="form-control" placeholder="For Subscription Only">
                        {% end %}
                    </span><!--field-->
                </p>
                <p>
                <label>Strategy Setting</label>
                    <span class="field">
                        {% if data %}
                            <textarea class="form-control" rows="15" name="strategy_setting" value="{{data['trade_symbols']}}" required>{{data["strategy_setting"]}}</textarea>
                        {% else %}
                            <textarea class="form-control" rows="15" name="strategy_setting" required>{}</textarea>
                        {% end %}
                    </span><!--field-->
                </p>
                {% if data %}
                    <input type="hidden" id = "hidTD" name = "_id" value = "{{data['_id']}}">
                {% end %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>
{% end %}
