{% extends "base.html" %}
{% block head %}
{% end %}
{% block body %}
&nbsp;<span class="label label-success">{{status}}</span>
<div class = "row" style="margin-top: 10px">
    &nbsp;<a href="/dashboard" class="btn btn-xs btn-primary">DASHBOARD</a>
    &nbsp;<a href="/dashboard/tasks/all" class="btn btn-xs btn-primary">Tasks</a>
    {%if status != 'completed' %}
    &nbsp;<a class="btn btn-xs btn-danger" name="{{title}}" href="javascript:;" onclick="withdraw(this)">Withdraw Task</a>
    {%end%}
    &nbsp;<div id="showResult"></div>
</div>

<form action="/deploy/assignment/deploy" method="post" id="form">
    {%if data%}
    <div class="table-responsive" style="margin-top: 10px">
        <table cellpadding="0" cellspacing="0" border="0" class="table-1" id="strategy_list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Server</th>
                    <th>Operator</th>
                    <th>Symbols</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td><a href = "/dashboard/strategy/{{d['_id']}}">{{d["name"]}}</a></td>
                    <td class="center">
                        <select id="server-{{d['name']}}" class="form-control" required>
                            <option value = "idle" selected="selected">idle</option>
                            {% for item in serv%}
                                {% if d["server"] == item %}
                                    <option value = "{{item}}" selected="selected">{{item}}</option>
                                {%else%}
                                    <option value = "{{item}}">{{item}}</option>
                                {%end%}
                            {%end%}
                        </select></td>
                    <td>{%if d["status"]>0 %}
                        <a class="btn btn-xs btn-warning" href="javascript:;" onclick="operator(this)" name="launch-{{d['name']}}-{{task_id}}" disabled="disabled" style="pointer-events:none">Launch</a>
                        &nbsp;<a class="btn btn-xs btn-danger" href="javascript:;" onclick="operator(this)" name="halt-{{d['name']}}-{{task_id}}">Halt</a>
                        {%elif d["status"]==0%}
                        <a class="btn btn-xs btn-warning" href="javascript:;" onclick="operator(this)" name="launch-{{d['name']}}-{{task_id}}">Launch</a>
                        &nbsp;<a class="btn btn-xs btn-danger" href="javascript:;" onclick="operator(this)" name="halt-{{d['name']}}-{{task_id}}" disabled="disabled" style="pointer-events:none">Halt</a>
                        {%end%}
                        &nbsp;<a class="btn btn-xs btn-info" href="javascript:;" onclick="operator(this)" name="archive-{{d['name']}}-{{task_id}}">Archive</a>
                        
                    </td>
                    <td>{{d["symbolList"]}}</td>
                    <td><a class="btn btn-xs btn-primary" href="/chart/{{d['alias']}}" target="_blank">Chart</a>
                        &nbsp;<a class="btn btn-xs btn-primary" href="http://149.28.78.5:5601/app/kibana#/discover?_g=()&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'0c5c9850-7e27-11e9-95ef-03925e1df000',key:message,negate:!f,params:!({{d['name']}}),type:phrases,value:{{d['name']}}),query:(bool:(minimum_should_match:1,should:!((match_phrase:(message:{{d['name']}}))))))),index:'0c5c9850-7e27-11e9-95ef-03925e1df000',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))" target="_blank">Log</a>
                        &nbsp;<a class="btn btn-xs btn-primary" href="/orders?name={{d['alias']}}" target="_blank">Orders</a>
                    </td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <div class = "row">
        <input type="hidden" value="{{Author}}" name = "Author">
        <input type="hidden" value="{{task_id}}" name = "task_id">
    </div>
{% else %}
no data
{% end %}
</form>

{% end %}