{% extends "base.html" %}
{% block head %}
{% end %}
{% block body %}
<div class="table-responsive" style="margin-top: 10px">
    <a href="/dashboard" class="btn btn-sm btn-primary">DASHBOARD</a>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="strategy_list">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Status</th>
                <th>Operation</th>
                <th>Strategy List</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr class="odd gradeX">
                <td>{{d["task_id"]}}</td>
                <td id = "{{d['_id']}}">{{d["status"]}}</td>
                <td id = "link{{d['_id']}}">
                    {%if d["status"] == 'submitted' %}
                    <a class="btn btn-sm btn-primary" name="{{d['_id']}}" href="javascript:;" onclick="withdraw(this)">Withdraw</a>
                    {%else%}
                    N/A
                    {%end%}
                </td>
                <td>{{d["strategies"]}}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}