{% extends "base.html" %}
{% block head %}
{% end %}
{% block body %}
<div class = "row" style="margin-top: 10px">
    &nbsp;<a href="/dashboard" class="btn btn-xs btn-primary">DASHBOARD</a>
    &nbsp;<a href="/dashboard/tasks/instance" class="btn btn-xs btn-primary">Instance</a>
    &nbsp;<a href="/dashboard/tasks/archiver" class="btn btn-xs btn-primary">Archiver</a>
</div>

{%if data%}
    <div class="table-responsive" style="margin-top: 10px">
        <table cellpadding="0" cellspacing="0" border="0" class="table-1">
            <thead>
                <tr>
                    <th><input type="checkbox" class="checkall" name="checkall"></th>
                    <th>Task ID</th>
                    {%if admin%}
                    <th>Author</th>
                    {%end%}
                    <th>Strategy</th>
                    <th>Account</th>
                    <th>Server</th>
                    <th>Operator</th>
                    {%if title=="INSTANCE"%}
                    <th>Rectify</th>
                    {%end%}
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr id="{{d['strategy']}}">
                    <td data-label="check"><input type="checkbox" value="{{d['strategy']}}-{{d['task_id']}}-{{d['server']}}" name="cc"></td>
                    <td data-label="Task ID"><a href="/deploy/assignment/{{d['task_id']}}">{{d["task_id"]}}</a></td>
                    {%if admin%}
                    <td data-label="Author">{{d["Author"]}}</td>
                    {%end%}
                    <td data-label="Strategy">{{d["strategy"]}}</td>
                    <td data-label="Account">
                        {%for ac in d['account']%}{{ac}}{%end%}
                    </td>
                    <td data-label="Server" class="center">
                        {%if serv%}
                        <select id="server-{{d['strategy']}}" class="form-control">
                            <option value = "idle" selected="selected">idle</option>
                            {% for item in serv%}
                                {% if d["server"] == item %}
                                    <option value = "{{item}}" selected="selected">{{item}}</option>
                                {%else%}
                                    <option value = "{{item}}">{{item}}</option>
                                {%end%}
                            {%end%}
                        </select>
                        {%else%}
                        {{ d["server"] }}
                        {%end%}
                    </td>
                    <td data-label="Operator">
                        {%if d["status"]>0%}
                        <a class="btn btn-xs btn-success" href="javascript:;" onclick="operator(this)" name="launch-{{d['strategy']}}-{{d['task_id']}}" disabled="disabled" style="pointer-events:none">Launch</a>
                        &nbsp;<a class="btn btn-xs btn-danger" href="javascript:;" onclick="operator(this)" name="halt-{{d['strategy']}}-{{d['task_id']}}">Halt</a>&nbsp;
                        {%elif d["status"]==0%}
                        <a class="btn btn-xs btn-success" href="javascript:;" onclick="operator(this)" name="launch-{{d['strategy']}}-{{d['task_id']}}">Launch</a>
                        &nbsp;<a class="btn btn-xs btn-danger" href="javascript:;" onclick="operator(this)" name="halt-{{d['strategy']}}-{{d['task_id']}}" disabled="disabled" style="pointer-events:none">Halt</a>&nbsp;
                        {%end%}
                        {%if title == "INSTANCE" %}
                        <a class="btn btn-xs btn-info" href="javascript:;" onclick="operator(this)" name="archive-{{d['strategy']}}-{{d['task_id']}}">Archive</a>
                        {%else%}
                        <a class="btn btn-xs btn-info" href="/static/Strategy/{{d['task_id']}}/{{d['strategy']}}-latest.tar">Archive</a>
                        {%end%}
                        &nbsp;<a class="btn btn-xs btn-primary" href="http://149.28.78.5:5601/app/kibana#/discover?_g=()&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'0c5c9850-7e27-11e9-95ef-03925e1df000',key:message,negate:!f,params:!({{d['strategy']}}),type:phrases,value:{{d['strategy']}}),query:(bool:(minimum_should_match:1,should:!((match_phrase:(message:{{d['strategy']}}))))))),index:'0c5c9850-7e27-11e9-95ef-03925e1df000',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))" target="_blank">Log</a>

                    </td>
                    {%if title == "INSTANCE" %}
                    <td data-label="Rectify">
                        <a class="btn btn-xs btn-warning" href="javascript:;" onclick="clear_pos(this)" name="{{d['strategy']}}">Clear Pos</a>
                        <a class="btn btn-xs btn-danger" href="javascript:;" onclick="operator(this)" name="delete-{{d['strategy']}}-{{d['task_id']}}">Delete</a>
                    </td>
                    {%end%}
                </tr>
                {% end %}
            </tbody>
        </table>
        {%if title == "INSTANCE" %}
        <a class="btn btn-xs btn-warning" href="javascript:;" onclick="operate_multi(this)" name="halt_multi">Halt Selected</a>
        <a class="btn btn-xs btn-danger" href="javascript:;" onclick="operate_multi(this)" name="delete_multi">Delete Selected</a>
        {%end%}

    </div>
{% else %}
no data
{% end %}

{% end %}