{% extends "base.html" %}
{% block head %}
{% end %}
{% block body %}
<div class="container-fluid">
    {% include "admin_nav.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">    
        <h2 class="sub-header">Wait List</h2>
        {% if data %}
        <form action="/dashboard/task_sheet" method="post" id="form">
        <div class="table-responsive" style="margin-top: 10px">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table">
                <thead>
                    <tr>
                        <th style="display:none;">ids</th>
                        <th>Name</th>
                        <th>Git Path</th>
                        <th>Symbols</th>
                        <th>Account</th>
                        <th>Settings</th>
                        <th>Server</th>
                        <th>Regret</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr class="odd gradeX">
                        <td style="display:none;">{{d["_id"]}}</td>
                        <td>{{d["name"]}}</td>
                        <td>{{d["git_path"]}}</td>
                        <td>{{d["trade_symbols"]}}</td>
                        <td>{{d["account_name"]}}</td>
                        <td>read</td>
                        <td >{{d["server"]}}</td>
                        <td><a href="javascript:;" onclick = "remove_from_waitlist(this)">del</a></td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        <input type="hidden" value="" id = "hidTD" name = "strategies">
        <input type="button" name = "confirm_task" id = "confirm" class="btn btn-sm btn-primary" value = "Confirm Submission">
    </form>
    {% else %}
    no data
    {% end %}
    </div>
</div>

{% end %}